.activityChart {
  padding: 16px;
  background-color: var(--light-gray);
  margin: 40px 0;
  border-radius: 12px;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleBar small {
  color: var(--muted-gray);
}

.activityChartWrapper {
  display: flex;
  gap: 8px;
  padding: 16px;
  align-items: flex-end;
}

.dayChartBlock {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  height: 80px;
  padding: 5px;
}

.line {
  background-color: black;
  width: 4px;
  border-radius: 3px;
  flex-shrink: 0;
}

.line1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

.line1Partial {
  height: 40px;
}

.line2 {
  height: 40px;
  align-self: center;
}

.line3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  align-self: center;
  padding-top: 8px;
}

.line3Partial {
  height: 20px;
}

.line4 {
  height: 20px;
  align-self: flex-end;
}

.days {
  list-style: none;
  display: flex;
  gap: 40px;
}
