.sidemenu {
  min-width: 220px;
  width: 220px;
  height: 100vh;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideoptions {
  margin: 48px auto;
}

.sideoptions small {
  display: block;
  font-size: 10px;
  font-weight: 600;
  color: var(--muted-gray);
  margin-top: 36px;
  text-transform: uppercase;
}

.sideoptions ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 24px;
}

.sideoptions li {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--muted-gray);
}

.sideoptions li svg {
  width: 18px;
  height: 18px;
}

.sideoptions .selected {
  color: var(--dark-blue);
}

.sideoptions .selected svg {
  color: var(--dark-blue);
}

.sidemenu .settings{
  padding: 1rem 8px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 48px auto;
  color: var(--muted-gray);

}

.sidemenu .settingssvg {
  margin-right: 0.5rem;
  color: var(--muted-gray);
}

@media screen and (max-width: 1024px) {
  .sidemenu {
    display: none;
  }
}